
#txt2 {
    display: none;
}

*{
    transition: all 0.5s;
      font-family: 'Cairo', sans-serif;
}

html{
    scroll-behavior: smooth;
}

body {
    margin:0;
    direction: rtl;
    background-color: #333;
    color: #f2f2f2;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    overflow-x: hidden !important;
    overflow-y: scroll !important;
}

#ahmed , #ahmed:active , #ahmed:focus{
    transition: all 0.5s !important;
    outline: none !important;
    will-change: border-radius, transform; /* لتحسين الأداء */
    -webkit-user-select: none; /* منع التحديد في Safari/Chrome */
    -moz-user-select: none; /* منع التحديد في Firefox */
    -ms-user-select: none; /* منع التحديد في Internet Explorer/Edge */
    user-select: none; /* منع التحديد في جميع المتصفحات */
    -webkit-user-drag: none; /* منع السحب في Safari/Chrome */
    -khtml-user-drag: none; /* منع السحب في Konqueror */
    -moz-user-drag: none; /* منع السحب في Firefox */
    -ms-user-drag: none; /* منع السحب في Internet Explorer/Edge */
    -webkit-tap-highlight-color: transparent !important; /* إزالة الهالة في Chrome على الهواتف */
    touch-action: manipulation; /* تحسين التعامل مع اللمس */
    -webkit-touch-callout: none; /* إلغاء القائمة السياقية على الهواتف */
}


#img-logo{
    float: left !important;
    margin-top: 5px;
    border: none !important;
}

#img-logo:hover{
    transform: rotate(360deg);
}

#link-logo{
    float: left !important;
    border: none !important;
}

.navbar {
    /*overflow: hidden;*/
    
    /*background-color: #222;*/
    background: linear-gradient(rgba(35, 35, 35, 0.5), rgba(35, 35, 35, 0.5), rgba(35, 35, 35, 0.5)) !important;
    
    /*background: transparent;*/
    backdrop-filter: blur(10px);

    border-bottom:1px white solid;
    position: fixed;
    /*display: flex;*/
    justify-content: right;
    top: 0;
    width: 100%;
    margin: 0;
    padding: 0;
    z-index: 1 !important;
}

.navbar::after {
    content: "";
    display: table;
    clear: both;
}

.navbar a {
    float: right;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    border-left:1px white solid;
}

.navbar a:hover {
    text-shadow:1px 1px 10px #fff, 1px 1px 10px #ccc;
}

.dropdown {
    position: relative;
    display: block;
}

.dropdown-content{
    background: linear-gradient(rgba(35, 35, 35, 1), rgba(35, 35, 35, 1), rgba(35, 35, 35, 1)) !important;
    pointer-events: auto;
    display: none;
    position: absolute;
    /* min-width: 160px; */
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 2 !important;

}

#drop-menu1{
    right: 52px;
}

#drop-menu2{
    right: 98px;
}

.dropdown-content a {
    float: none;
    padding: 12px 16px;
    text-decoration: none;
    display: block !important;
    text-align: left;
    border: none !important;
}

/*
.dropdown:hover .dropdown-content, .dropdown-content:hover {
    display: block;
    top: 51px; 
    top:6.2vh;
    border-top:1px white solid;
}
*/

.main {
    padding: 16px;
    margin-top: 30px;
    position: absolute;
    top: 35px;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden !important;
    height: auto;
}

iframe {
    position: relative !important;
    width: 100%;
    height: 100%;
    border: none;
    z-index: 0 !important;
    overflow: hidden !important;    
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
  
.btn {
    height: 35px !important;
    margin: 3px;
    display: inline-block;
    font-weight: 400;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    background-color: #222;
    border: 1px solid #014792;
    padding: 9px 3px 3px 3px ;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    text-decoration: none;
}

.w100{
    width:100% !important;
}

.w200px{
    width: 200px;
}

.w220px{
    width: 220px;
}

.btn:hover {
    color: #fff;
    background-color: #014691;
    border-color: #012852;
    text-decoration: none;
}

.btn:focus, .btn:active {
    outline: none;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
}



/* #region Default Link */
a{
    color: #7ce5ff;
}

a:hover{
    color: #5ecfeb;
}
/* #endregion Default Link */





/* Text Box And Label  */
label{
    color:#000;
    font-weight:bold;
    font-size:17px;
}

textarea{
    box-sizing: border-box;
    resize: none;
    width:100%;
    height:120px;
    padding:5px;
}

input[type=text] , input[type=password] , input[type=email] , textarea{
    outline: none;
    background-color: #fff;
    border:1px solid #777;
    border-radius: 7px;
    text-align:center;
    font-weight:normal;
    font-size:20px;
    color:#000;
    transition: all 0.5s;
}

input[type=text]:focus , input[type=password]:focus , textarea:focus{
    background-color: whitesmoke;
    border:2px solid #aaa;
    font-size:21px;
} 

/* #endregion Text Box And Label  */


/* My Custom Classes  */

.new-line{
    border-top:1px solid #aaa;
    margin-bottom:15px;
    margin-top:15px;
}

.public-label{
    margin-top:0;
    text-align:center;
    color:#8b7be2;
    font-weight:bold;
}

.v-effect{
    opacity:0.8;
}

.v-effect:hover{
    opacity:1;
}

.video-label{
    background-color: #414141;
    width: 95% !important;
    color:#FFF;
    margin:10px;
    margin-bottom:5px;
    padding:10px;
    text-align: center;
    font-size:20px;
    font-weight:bold;
    border-radius:10px;
}


.yt-video{
    margin:10px;
    margin-top:0;
    width:360px;
    height:225px;
    border:2px solid #067292;
    border-radius: 20px;
}


.img-slide{
    display: block;
    margin: 0 auto;
    border-radius:7px;
}

.play-icon{
    display: block;
    margin:auto;
    width:150px;
    height:150px;
    background-color: rgba(10,10,10,0.6);
    border-radius:25px;
    font-size:100px;
    color:red;
    opacity: 0.6;
    margin-bottom: 125px;
}


.play-icon:hover{
    opacity: 1;
}



.my-p{
    width: 95%;
    text-align:justify;
    font-size:24px;
    color:#EEE;
    padding:15px;
    border-radius:5px;
    background-color:rgba(200,200,200,0.1);
    margin:20px;
    overflow:auto;
    display:block;
}

a .my-p{
    width: 350px !important;
}

.my-reg{
    color:#EEE;
}

.my-reg:hover{
    color:#AAA;
}

.my-subject{
    text-align:justify;
    font-size:22px;
    font-weight:bold;
    color:#EEE;
    padding:7px;
    border-top-left-radius:7px;
    border-top-right-radius:7px;
    background-color:rgba(127, 211, 250, 0.1);
    margin:5px;
    margin-top:15px;
    overflow:auto;
    display:block;
    padding-left:7px;
    padding-right:7px;
    transition: all 0.5s;
}

.my-subject:hover{
    font-size:23px;
    background-color:rgba(195, 113, 247, 0.2);
    cursor: pointer;
    padding-left:20px;
    padding-right:20px;
}

.my-body{
    text-align:justify;
    font-size:18px;
    font-weight:normal;
    color:#EEE;
    padding:7px;
    border-bottom-left-radius:7px;
    border-bottom-right-radius:7px;
    background-color:rgba(7, 156, 162, 0.1);
    margin:5px;
    margin-top:-5px;
    overflow:auto;
    display:block;
}

.fixed-top-label{
    background-color:rgba(23, 23, 48, 0.8);
    color:#00c3ff;
    position:fixed;
    top:50;
    padding:2px;
    text-align:center;
    height:63px !important;
    border-bottom:1px solid navy;
    width:100%; padding-right:10px;
    padding-left:10px;
    z-index:500;
}


.input-group{
    margin-bottom:7px;
}

.normalimage{
    border:2px solid #067292;
    border-radius:7px;
}

#all-lang{
        font-size:15px;
}


/* #endregion My Custom Classes  */

footer {
    width: 100%;
    height: 500px;
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    position: absolute;
    bottom: 0;
}

.footer-content {
    max-width: 1200px;
    margin: auto;
    padding: 0 20px;
}

.footer-content p {
    margin: 0;
    padding: 0;
}

.footer-content .socials {
    list-style: none;
    padding: 0;
    margin: 20px 0 0;
    display: flex;
    justify-content: center;
}

.footer-content .socials li {
    margin: 0 10px;
}

.footer-content .socials li a {
    display: flex;
    align-items: center;
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    transition: color 0.3s;
}

.footer-content .socials li a img {
    margin-left: 10px; 
    width: 32px;
    height: 32px;
}


.footer-content .socials li a:hover {
    color: #ff6347;
}

.mybtn{
    width:98%;
    color:#cfeff5;
    font-size:15px;
    margin-bottom:2px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;

}

.mybtn:hover{
    width:100%;
    color:#fff;
    font-size:16px;
    margin-bottom:2px;

}

@media only screen and (max-width: 700px) {
    #txt1 {
        display: none;
    }
    #txt2 {
        display: inline;
    }
}

@media only screen and (max-width: 530px) {
    .navbar a {
        font-size: 8px !important;
    }
    #txt1 {
        display: none;
    }
    #txt2 {
        display: none;
    }
    #img-logo {
        display: none;
    }
    #drop-menu1{
        right: 37px !important; 
        overflow: hidden !important;
        width: 95px !important;
    }
    #drop-menu2{
        right: 77px !important;
    }

/*
    .dropdown:hover .dropdown-content, .dropdown-content:hover {
        top: 41.8px !important;
        top: 4.7vh !important;
        top: 5.24vh !important;
    }
*/

}


@media only screen and (max-width: 833px) {

    body {
        font-size: 8px !important;
    }
    
    .btn {
        font-size: 8px !important;
    }
    .mybtn{
        font-size:10px;
        width: 125px;
    }
    .mybtn:hover{
        font-size:12px;
    }

    .mytitle{
        font-size:15px !important;
    }
    
    .mydetails{
        font-size:10px !important;
    }
    
    .mysmalllink{
        font-size:7px !important;
    }

    #div1{
        align-items: start !important;
    }

    #ahmed{
        width: 60px !important;
        height: 60px !important;
    }

    .btn{
        height: 15px !important;
    }

    .video-label{
        width: 85% !important;
    }

    .my-p{
        width: 80% !important;
        font-size: 13px;
        display: inline-block;
    }

    a .my-p{
        width: 102px !important;
    }

    .my-p img{
        width: 90px !important;
        height: 50px !important;
    }

    #all-lang{
        font-size:8px;
    }

    .fixed-top-label h3{
        font-size:16px;
    }

    #ahmed{
        margin-top: 5px;
    }

    #welcome_h_a{
        font-size:18px;
    }

    .play-icon{
        margin-bottom: 90px;
    }

    .yt-video{
        width:320px;
        height:200px;
    }

    .mynum{
        display: none;
    }

    #mysidemenu{
        top:40px !important;
    }

    #mysidemenu .btn{
        width: 50px !important;
        height: 10px !important;
    }

    .btn-copy{
        height: 20px !important;
    }

    .footer-content .socials li a {
        font-size: 10px !important;
    }

}

.mynum{
    padding:3px;
    margin:3px;
    border:1px solid #61baea;
    border-radius:20px;
}

.mynum2{
    padding:3px;
    margin:3px;
    border:1px solid #cfeff5;
    background-color: #2398d8;
    border-radius:20px;
    text-decoration: none;
}

.mynum:hover , .mynum2:hover{
    padding:3px;
    margin:3px;
    border:1px solid #cfeff5;
    border-radius:20px;
    background-color: #61baea;
}

.backbtn{
    color:navy;
    font-size:35px !important;
    font-weight:bold;
    width:auto;
    margin-top:-5px;
    border-radius:40px;
    padding-bottom:5px;
    float:left;
}

.backbtn:hover{
    color:blue;

}

.count-course{
    border:1px solid #27adde;
    padding:3px;
    border-radius: 7px;
}

.mytitle , .mydetails{
    margin:10px;
    padding:10px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}
    
.mytitle{
    background-color:rgba(70,70,70,0.3);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    font-size:30px;
    font-weight:bold;
    color:#EEE;
}
    
.mydetails{
    background-color:rgba(100, 100, 100, 0.3);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    font-size:25px;
    margin-top:-10px !important;
}
    
.mysmalllink{
    font-size:12px;
    font-weight:bold;
}
    
.lastsubject{
    height:200px;
}

@-webkit-keyframes fadeout {
    0% {opacity:1;}
    100% {opacity:0;}
}
@keyframes fadeout {
    0% {opacity:1;}
    100% {opacity:0;}
}
.fadeOut {
  opacity:0;
  -moz-animation   : fadeout 0.5s linear;
  -webkit-animation: fadeout 0.5s linear;
  animation        : fadeout 0.5s linear;
}

@-webkit-keyframes fadein {
    0% {opacity:0;}
    100% {opacity:1;}
}
@keyframes fadein {
    0% {opacity:0;}
    100% {opacity:1;}
}
.fadeIn {
  opacity:1;
  -moz-animation   : fadein 0.5s linear;
  -webkit-animation: fadein 0.5s linear;
  animation        : fadein 0.5s linear;
}
